---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='TestScript' id='HS-end-leave-inpatient' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: end-leave-inpatient - Change History</h2>
  <p>History of changes for HS-end-leave-inpatient {{type | downcase}}.</p>

  {%include TestScript-HS-end-leave-inpatient-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
