---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='TestScript' id='5e657b1f-060e-423f-b198-fa8ffee77b87' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: re111ceive-notification-about-admission - Change History</h2>
  <p>History of changes for 5e657b1f-060e-423f-b198-fa8ffee77b87 {{type | downcase}}.</p>

  {%include TestScript-5e657b1f-060e-423f-b198-fa8ffee77b87-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
