---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='TestScript' id='ffb-1-encounter' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: First documentation phase - Change History</h2>
  <p>History of changes for ffb-1-encounter {{type | downcase}}.</p>

  {%include TestScript-ffb-1-encounter-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
