---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='TestScript' id='hospitalnotification-slhj-imp-timestamptest' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Discharge inpatient to home - Change History</h2>
  <p>History of changes for hospitalnotification-slhj-imp-timestamptest {{type | downcase}}.</p>

  {%include TestScript-hospitalnotification-slhj-imp-timestamptest-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
