---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='TestScript' id='hospitalmotification-an-slhj-imp' active='content' %}
  <a name="root"> </a>

  <h2 id="root">TestScript: {{site.data.pages[page.path].title | escape_once}}
{% if site.data.resources[resource_].experimental == true %}(Experimental){% endif %}
  </h2>

{% include fragment-resourceTable.html %}

{%if site.data.resources[resource_].description %}
<p>
{{site.data.resources[resource_].description|markdownify}}
</p>
{% endif %}
{%if site.data.resources[resource_].purpose %}
<p>
{{site.data.resources[resource_].purpose|markdownify}}
</p>
{% endif %}
  <!-- insert intro if present -->
  {% include fragment-intro.html type='TestScript' id='hospitalmotification-an-slhj-imp' %}

<!--  <p>
  Formats: <a href="TestScript-hospitalmotification-an-slhj-imp.xml.html">XML</a>, <a href="TestScript-hospitalmotification-an-slhj-imp.json.html">JSON</a>, <a href="TestScript-hospitalmotification-an-slhj-imp.ttl.html">Turtle</a>
  </p>-->
{% unless example %}
  {% if 'TestScript' == 'CapabilityStatement' %}
  <p>
      <a href="hospitalmotification-an-slhj-imp.openapi.json" no-download="true">Raw OpenAPI-Swagger Definition file</a> | <a href="hospitalmotification-an-slhj-imp.openapi.json" download>Download</a>
  </p>
  {% endif %}
{% endunless %}

  {% include TestScript-hospitalmotification-an-slhj-imp-html.xhtml %}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='TestScript' id='hospitalmotification-an-slhj-imp' %}

  {%include TestScript-hospitalmotification-an-slhj-imp-history.xhtml%}

</div>
{% include fragment-pageend.html %}
