---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->

  {% include fragment-base-navtabs.html type='TestScript' id='92446d93-ec60-4151-b550-3ef6a1b37e08' active='content' %}

  <a name="root"> </a>
{% if site.data.artifacts[page.path].example %}
  {% assign example = 'Example ' %}
{% endif %}
{% assign prefix = site.data.artifacts[page.path].type %}
  <h2 id="root">{{example}}{{prefix}}: {{site.data.pages[page.path].title | escape_once}}</h2>

{% unless example %}
  {% if 'TestScript' == 'CapabilityStatement' %}
      <p>
      <a href="92446d93-ec60-4151-b550-3ef6a1b37e08.openapi.json" no-download="true">Raw OpenAPI-Swagger Definition file</a> | <a href="92446d93-ec60-4151-b550-3ef6a1b37e08.openapi.json" download>Download</a>
      </p>
  {% endif %}
{% endunless %}

  <!-- insert intro if present -->
  {% include fragment-intro.html type='TestScript' id='92446d93-ec60-4151-b550-3ef6a1b37e08' %}

  {% include TestScript-92446d93-ec60-4151-b550-3ef6a1b37e08-html.xhtml %}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='TestScript' id='92446d93-ec60-4151-b550-3ef6a1b37e08' %}

</div>
{% include fragment-pageend.html %}
