---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='TestScript' id='UFHV12' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Patient is in an emergency outpatient setting ay hospital, but ends up being admitted - Change History</h2>
  <p>History of changes for UFHV12 {{type | downcase}}.</p>

  {%include TestScript-UFHV12-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
