---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='TestScript' id='hospitalnotification-re-staa' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Update of start hospital stay-acute ambulant - Change History</h2>
  <p>History of changes for hospitalnotification-re-staa {{type | downcase}}.</p>

  {%include TestScript-hospitalnotification-re-staa-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
