---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='TestScript' id='hospitalnotification-PF-send-imp-05' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Send: Admit patient, correct message due to incorrect hospital department. Evaluation is based on GLN number. - Change History</h2>
  <p>History of changes for hospitalnotification-PF-send-imp-05 {{type | downcase}}.</p>

  {%include TestScript-hospitalnotification-PF-send-imp-05-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
